---
const { nombre, precio, img, link } = Astro.props;
console.log(img);
---

<section
  class="border-2 border-white/80 backdrop-blur-3xl bg-indigo-500/30 rounded-xl relative lg:w-auto"
>
  <article
    class="flex flex-col gap-2 justify-center items-center m-4 font-cabinetGroteskBold"
  >
    <img
      decoding="async"
      src=`https://res.cloudinary.com/dle7lr00f/image/upload/${img}-back.png`
      alt=`Imagen de la prenda ${nombre}`
      transition:name=`https://res.cloudinary.com/dle7lr00f/image/upload/${img}-back`
      class="w-72 h-auto md:w-80 lg:w-64 xl:w-72 select-none"
      style="aspect-ratio: 503/357;"
    />
    <p class="text-center text-base lg:text-lg" transition:name={`${nombre}`}>
      {nombre}
    </p>
    <p
      class="text-center text-lg text-white"
      transition:name={`${precio + nombre}`}
    >
      {precio}€
    </p>
    <a
      class="rounded-lg bg-indigo-600 hover:bg-indigo-700 border-2 hover:border-white text-white px-2 py-1 cursor-pointer select-none transition-all duration-300 ease-in-out"
      href=`/${link}`><strong>Ver disponibilidad</strong></a
    >
  </article>
</section>

<style>
  img {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.6));
  }
</style>
